.inventoryPage {
    margin: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 900px;
    box-sizing: border-box;

    & .heirachy {
        flex-basis: 60%;
        width: 100%;
        padding: 20px;
    }

    & .nodeData {
        text-align: center;
        flex-basis: 40%;
        padding: 20px;
    }

}