.indicator {
    display: flex;
    align-items: center;
}

.hierachyPage {

    & .building {
        margin-bottom: 15px;
        font-size: 24px;


        & .title {
            cursor: pointer;
            font-size: 20px;

            &:hover {
                opacity: 0.8;
            }
        }

        & .nodes {
            margin: 10px 0px 10px 25px;

            & .subtitle {
                cursor: pointer;
                font-size: 16px;
                color: rgb(255, 255, 255);

                &:hover {
                    opacity: 0.8;
                }


            }

            & .items {
                margin-left: 20px;
                cursor: pointer;
                font-size: 14px;
                margin: 10px 0px 10px 25px;


                &:last-child {
                    margin-bottom: 0px;
                }

                &:hover {
                    opacity: 0.8;
                }

                & .forTheThirdNesting {
                    margin-left: 20px;
                    cursor: pointer;
                    font-size: 12px;
                    margin: 10px 0px 10px 25px;


                    &:last-child {
                        margin-bottom: 0px;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}