.hierachyPage {
    font-weight: 700;

    & .building {
        margin-bottom: 15px;
        font-size: 24px;


        & .title {
            cursor: pointer;
            font-size: 20px;
            color: rgb(11, 11, 11);
            
            &:hover {
                opacity: 0.8;
            }
        }

        & .nodes {
            margin: 10px 0px 10px 25px;

            & .subtitle {
                cursor: pointer;
                font-size: 18px;
                color: rgb(255, 255, 255);

                &:hover {
                    opacity: 0.8;
                }


            }

            & .items {
                margin-left: 20px;
                cursor: pointer;
                font-size: 14px;
                margin: 10px 0px 10px 25px;
                color: rgb(206, 206, 206);

                &:last-child {
                    margin-bottom: 0px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }


    // & .nodes {
    //     cursor: pointer;
    //     margin-left: 15px;
    //     margin-bottom: 20px;
    //     font-size: 16px;

    //     &:hover {
    //         opacity: 0.8;
    //     }
    // }

    // & .room {
    //     cursor: pointer;
    //     margin-left: 30px;
    //     margin-bottom: 5px;
    //     font-size: 14px;

    //     &:hover {
    //         opacity: 0.8;
    //     }

    //     &:last-child {
    //         margin-bottom: 20px;
    //     }
    // }


}